= simple_form_for @offer, url: url do |f|
  = render 'shared/error_message', object: f.object
  = f.input :comment
  %h3= t('offer.prodcts')

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          %th= t('simple_form.labels.product.name')
          %th= t('simple_form.labels.product.price')
          %th= t('product.index.table.brutto')
          %th= t('simple_form.labels.product.vat')
          %th= t('simple_form.labels.product_offers.value')
          %th= t('simple_form.labels.product_offers.kind')
          %th= t('product_offer.new_netto')
          %th= t('product_offer.new_brutto')
    %tbody
      - @offer.product_offers.group_by{ |o| o.product.category }.sort.each do |category, category_offer_products|
        %tr
          %td.success{colspan: 9}= category.name
        = f.simple_fields_for :product_offers, category_offer_products do |product_offer|
          - product = product_offer.object.product
          %tr{class: "product", 'data-url' => product_calculate_path(product_offer.object.product_id) }
            %td
              = product_offer.association :product, as: :hidden, input_html: { value: product.id }, wrapper: false
              = product_offer.input :_destroy, as: :hidden, wrapper: false, input_html: { class: 'destroy' }
            %td
              = product.name_with_parameters
            %td= product.price_str
            %td= product.brutto_str
            %td.vat= product.vat_str
            %td= product_offer.input :value, as: :decimal, label: false, wrapper: false,
              input_html: {class: 'value', :data => {:product_id => product.id} }
            %td= product_offer.input :kind, collection: ProductOffer::KIND.map {|t| [t("product_offer.kind.#{t}"),t]},
              label: false, default: 1, wrapper: false, input_html: {class: 'kind', 'data-product-id'=>product.id}
            %td
              %span.new_netto
                - new_netto, new_brutto = if product_offer.object.value.blank?
                  - [product.price_str, product. brutto_str]
                - else
                  - product.calculate_change_price(product_offer.object.value, product_offer.object.kind)
                =  new_netto
            %td
              %span.new_brutto= new_brutto

  .form-actions
  = f.button :submit


