= simple_form_for @offer, :url => url_for(:controller => 'clients/offers') do |f|
  = f.input :comment
  %h3= t('offer.prodcts')

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          %th= t('simple_form.labels.product.name')
          %th= t('simple_form.labels.product.price')
          %th= t('product.index.table.brutto')
          %th= t('simple_form.labels.product.vat')
          %th= t('simple_form.labels.product_offers.value')
          %th= t('simple_form.labels.product_offers.kind')
          %th= t('product_offer.new_netto')
          %th= t('product_offer.new_brutto')
    %tbody
      - @products.group_by(&:category).sort.each do |category, category_products|
        %tr
          %td.success{colspan: 9}= category.name
        - category_products.each do |product|
          %tr{class: "product", 'data-url' => product_calculate_path(product) }
            = f.simple_fields_for :product_offers do |product_offer|
              %td
              %td
                = product_offer.association :product, as: :hidden, input_html: { value: product.id }
                = product.name_with_parameters
              %td= product.price_str
              %td= product.brutto_str
              %td.vat= product.vat_str
              %td= product_offer.input :value, as: :decimal, label: false, wrapper: false,
                input_html: {class: 'value', :data => {:product_id => product.id} }
              %td= product_offer.input :kind, collection: ProductOffer::KIND.map {|t| [t("product_offer.kind.#{t}"),t]},
                label: false, default: 1, wrapper: false, input_html: {class: 'kind', 'data-product-id'=>product.id}
              %td
                %span.new_netto= product.price_str
              %td
                %span.new_brutto= product.brutto_str
  .form-actions
  = f.button :submit


