- title t('client.title.index')
- content_for(:content_buttons) do
  = link_to t('client.navigation.new'), new_company_client_path, class: 'btn btn-default'

%table.table.table-hover
  %thead
    %tr
      %th= t('company.name')
      %th= t('client.index.table.offerts')
      %th.col-sm-1= t('client.index.table.download_last_offer_pdf')
      %th= t('universal_headers.actions')

  %tbody
    - @clients.each do |client|
      %tr
        %td= client.name
        %td
          - if client.offers.any?
            - last_offer = client.offers.last
            = link_to t('title_universal_buttons.show_last'),
              company_client_offer_path(client_id: client ,id: last_offer),
              title: t('client.index.updated_time_ago', time:  distance_of_time_in_words_to_now(last_offer.updated_at)),
              class: 'btn btn-default btn-xs'
            = link_to t('title_universal_buttons.show_all'),
              company_client_offers_path(client_id: client),
              class: 'btn btn-default btn-xs'

          - else
            = link_to t('offer.navigation.add_new'), new_company_client_offer_path(client_id: client), class: 'btn btn-default btn-xs'
        %td
          - if client.offers.any?
            = link_to company_client_offer_path(client_id: client ,id: last_offer, format: :pdf), class: 'btn btn-default btn-sm' do
              %span.glyphicon.glyphicon-download{'aria-hidden' => true}
                %strong= t('client.index.pdf')
        %td
          .btn-group{role: 'group'}
            = link_to company_client_path(id: client), class: 'btn btn-default', title: t('title_universal_buttons.show') do
              %span.glyphicon.glyphicon-eye-open{ 'area-hidden' => true}
            = link_to edit_company_client_path(id: client), class: 'btn btn-default', title: t('title_universal_buttons.edit') do
              %span.glyphicon.glyphicon-pencil{ 'area-hidden' => true}
            = link_to company_client_path(id: client), class: 'btn btn-default', title: t('client.navigation.destroy'), method: :delete, data: { confirm: t('client.navigation.destroy_alert', client: client.name) } do
              %span.glyphicon.glyphicon-trash.text-danger{ 'area-hidden' => true}
