= simple_form_for company, url: path do |f|
  .row
    .col-sm-5
      = f.input :name
      = f.input :nip
      = f.input :address
      = f.input :address_second_line
      .row
        .col-sm-7
          = f.input :city
        .col-sm-5
          = f.input :post_code
    .col-sm-7
      = f.input :description, input_html: { rows: 7 }
      = f.input :contact, input_html: { rows: 2 }
  .row.col-sm-12
    = f.button :submit

:javascript
  new wysihtml5.Editor("company_description", { parserRules:  wysihtml5ParserRules });
  new wysihtml5.Editor("company_contact", { parserRules:  wysihtml5ParserRules });
