= simple_form_for @offer do |f|
  = f.input :comment
  %h3= t('offer.prodcts')
  - @categories.each do |c|
    %p
      %strong= c.name
    = f.association :products, collection: @products.where(category_id: c.id), as: :check_boxes, label: false

  .form-actions
  = f.button :submit
  - content_for(:content_buttons) { f.button :submit, form: "edit_offer_#{@offer.id}" }


