- title title_base(@offer)
- content_for(:content_buttons) do
  - link_to t('title_universal_buttons.edit'), edit_offer_path(@offer), class: 'btn btn-default'

.well.well-sm
  = @offer.comment
%table.table.table-striped
  - @offer.products.group_by(&:category).sort.each do |category, category_products|
    %thead
      %tr.success
        %th{colspan: 5}= category.name
      %tr
        %th= t('simple_form.labels.product.name')
        %th= t('simple_form.labels.product.unit')
        %th= t('simple_form.labels.product.vat')
        %th= t('simple_form.labels.product.price')
        %th= t('product.index.table.brutto')

    %tbody
      - category_products.each do |product|
        %tr
          %td= "#{product.name} | #{product.parameters}"
          %td= t("product.unit.#{product.unit}_short")
          %td= "#{product.vat}%"
          %td= product.netto
          %td= product.brutto