- title @product.name
- content_for :content_buttons do
  -#= link_to t('title_universal_buttons.add'), new_company_category_path, class: 'btn btn-default'

.row
  .col-sm-4
    %dl.dl-horizontal
      %dt
        = t('simple_form.labels.product.name')
      %dd
        = @product.name_with_parameters
      %dt
        = t('product.netto')
      %dd
        = @product.netto_str
      %dt
        = t('product.brutto')
      %dd
        = @product.brutto_str
      %dt
        = t('simple_form.labels.product.vat')
      %dd
        = @product.vat_str
      %dt
        = t('simple_form.labels.product.category_id')
      %dd
        = @product.category

  .col-sm-8
    %dl.dl-horizontal
      %dt
        = t('simple_form.labels.product.unit')
      %dd
        = @product.unit
      %dt
        = t('simple_form.labels.product.quantity_container')
      %dd
        = @product.quantity_container
      %dt
        = t('simple_form.labels.product.volume_container')
      %dd
        = @product.volume_str
.row
  %hr
  %p.lead= t('product.show.client_usage')
  %table.table.table-hover
    %thead
      %tr
        %th= t('company.name')
        %th= t('product.netto')
        %th= t('product.brutto')
        %th= t('product.diff')
    %tbody
      - if @product.product_offers.blank?
        %tr
          %td.text-center.warning{colspan: 4}
            %strong= t('product.show.blank_client_usage')
      - else
        - @company_query.each do |record|
          %tr
            %td= link_to record.name, company_client_offer_path(company_id: @selected_company,
              client_id: record.id, id: record.offer_id, anchor: record.id)
            - netto, brutto = @product.calculate_change_price(record.value, record.kind, false)
            %td= netto
            %td= brutto
            %td= netto - @product.netto