<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>IO - <%= yield(:title) %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Individual Offer", companies_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <%= render 'shared/nav/application' %>
      <%= render 'shared/nav/selected_company' %>
      <%= render 'shared/nav/user' %>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- Begin page content -->
<div class="container">
  <%= render 'shared/notice' %>
  <%= render 'shared/alert' %>
  <div class="page-header overflow_hidden">
    <div class="col-sm-9">
        <h1><%=  yield(:title) %></h1>
    </div>
    <div class="col-sm-3 text-right">
        <%= yield(:content_buttons) %>
    </div>
  </div>
  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>
</body></html>
